@keyframes fade-in-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.dashboard-voter-vice-president-child15,
.vice-president-child2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  box-shadow: 50px 0 60px rgba(198, 198, 198, 0.4);
  width: 350px;
  height: 1080px;
}
.vice-president-child2 {
  border-radius: var(--br-xs);
  background-color: var(--color-violet);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 278px;
  height: 62px;
}
.vice-president16 {
  position: absolute;
  top: 14px;
  left: 43px;
  display: inline-block;
}
.president-child2,
.vice-president15 {
  position: absolute;
  width: 278px;
  height: 62px;
}
.vice-president15 {
  top: 198px;
  left: 36px;
  text-align: center;
}
.president-child2 {
  top: 0;
  left: 0;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
}
.president17 {
  position: absolute;
  top: 14px;
  left: 76px;
  display: inline-block;
}
.president16 {
  text-decoration: none;
  position: absolute;
  top: 106px;
  left: 36px;
  width: 278px;
  height: 62px;
  opacity: 0;
  cursor: pointer;
  color: inherit;
}
.abstain13.animate,
.back9.animate,
.chairman14.animate,
.dashboard-voter-vice-president2.animate,
.president16.animate,
.rectangle-parent9.animate,
.submit12.animate {
  animation: 1s ease 0s 1 normal forwards fade-in-bottom;
}
.dashboard-voter-vice-president-child16 {
  position: absolute;
  top: 0;
  left: 486px;
  border-radius: var(--br-xs);
  background-color: var(--color-white);
  box-shadow: 0 4px 4px 14px rgba(221, 221, 221, 0.73);
  width: 1228px;
  height: 1080px;
}
.vector-icon47 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-parent2 {
  position: absolute;
  height: 23.24%;
  width: 14.11%;
  top: 61.57%;
  right: 54.69%;
  bottom: 15.19%;
  left: 31.2%;
}
.austin-distel-7uommzpd2ja-unsp-icon22 {
  position: absolute;
  height: 14.72%;
  width: 8.28%;
  top: 65.83%;
  right: 57.6%;
  bottom: 19.44%;
  left: 34.11%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-parent3,
.vector-parent4 {
  position: absolute;
  height: 23.24%;
  width: 14.11%;
  top: 5.83%;
  right: 54.74%;
  bottom: 70.93%;
  left: 31.15%;
}
.vector-parent4 {
  top: 33.98%;
  bottom: 42.78%;
}
.austin-distel-7uommzpd2ja-unsp-icon23,
.vector-icon53 {
  position: absolute;
  height: 14.72%;
  width: 8.28%;
  top: 10.09%;
  right: 57.66%;
  bottom: 75.19%;
  left: 34.06%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon53 {
  height: 100.63%;
  width: 100.63%;
  top: -0.32%;
  right: -0.32%;
  bottom: -0.32%;
  left: -0.32%;
}
.austin-distel-7uommzpd2ja-unsp2 {
  position: absolute;
  height: 14.63%;
  width: 8.23%;
  top: 38.29%;
  right: 57.68%;
  bottom: 47.08%;
  left: 34.09%;
}
.designation24,
.name33 {
  position: absolute;
  top: 0;
  left: 0.75%;
  display: inline-block;
}
.designation24 {
  top: 66.36%;
  left: 0;
}
.name-parent21 {
  position: absolute;
  height: 9.91%;
  width: 13.8%;
  top: 12.5%;
  right: 37.66%;
  bottom: 77.59%;
  left: 48.54%;
  font-size: var(--font-size-sm);
}
.name34 {
  position: absolute;
  top: 0;
  left: 0.92%;
  display: inline-block;
}
.name-parent22 {
  position: absolute;
  height: 9.91%;
  width: 11.3%;
  top: 68.24%;
  right: 39.22%;
  bottom: 21.85%;
  left: 49.48%;
  font-size: var(--font-size-sm);
}
.name35 {
  position: absolute;
  top: 0;
  left: 0.81%;
  display: inline-block;
}
.name-parent23 {
  position: absolute;
  height: 9.91%;
  width: 12.92%;
  top: 40.65%;
  right: 38.54%;
  bottom: 49.44%;
  left: 48.54%;
  font-size: var(--font-size-sm);
}
.dashboard-voter-vice-president-child17,
.dashboard-voter-vice-president-child18,
.dashboard-voter-vice-president-child19 {
  cursor: pointer;
  position: absolute;
  top: 142px;
  left: 1470px;
  background-color: var(--color-gray-400);
  width: 96px;
  height: 96px;
}
.dashboard-voter-vice-president-child18,
.dashboard-voter-vice-president-child19 {
  top: 445px;
}
.dashboard-voter-vice-president-child19 {
  top: 743px;
}
.chairman15 {
  position: absolute;
  top: 14px;
  left: 75px;
  display: inline-block;
}
.chairman14 {
  text-decoration: none;
  position: absolute;
  top: 286px;
  left: 35px;
  width: 278px;
  height: 62px;
  opacity: 0;
  cursor: pointer;
  text-align: center;
  color: inherit;
}
.back-child7 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-lg);
  background-color: var(--color-violet);
  width: 210px;
  height: 70px;
}
.go-back9 {
  position: absolute;
  top: 15px;
  left: 33px;
  display: inline-block;
  width: 144px;
  height: 35px;
}
.back9 {
  text-decoration: none;
  position: absolute;
  top: 946px;
  left: 58px;
  width: 210px;
  height: 70px;
  opacity: 0;
  cursor: pointer;
  font-size: var(--font-size-lg);
  color: inherit;
}
.abstain14 {
  position: absolute;
  top: 13px;
  left: 41px;
  display: inline-block;
}
.abstain13 {
  text-decoration: none;
  position: absolute;
  top: 981px;
  left: 877px;
  width: 210px;
  height: 70px;
  opacity: 0;
  cursor: pointer;
  font-size: var(--font-size-lg);
  color: inherit;
}
.submit13 {
  position: absolute;
  top: 13px;
  left: 45px;
  display: inline-block;
}
.group-child22,
.submit12 {
  position: absolute;
  height: 70px;
}
.submit12 {
  text-decoration: none;
  top: 979px;
  left: 1246px;
  width: 210px;
  opacity: 0;
  cursor: pointer;
  font-size: var(--font-size-lg);
  color: inherit;
}
.group-child22 {
  top: 0;
  left: 0;
  background-color: var(--color-gray-200);
  width: 109px;
}
.group-child23 {
  position: absolute;
  top: 5px;
  left: 27px;
  width: 59px;
  height: 59px;
  object-fit: cover;
  cursor: pointer;
}
.rectangle-parent9 {
  text-decoration: none;
  position: absolute;
  top: 23px;
  left: 1754px;
  width: 109px;
  height: 70px;
  opacity: 0;
  cursor: pointer;
}
.dashboard-voter-vice-president2 {
  position: relative;
  background-color: var(--color-gray-200);
  width: 100%;
  height: 1080px;
  overflow: hidden;
  opacity: 0;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-inter);
}
